In [ ]:
import pandas as pd
import mysql.connector as mysql

# Connect to Mysql  and Empty Database

In [ ]:
user_name="root"
password="12345"
db_name="incubyte"
try:
    connection = mysql.connect(host='localhost',
                                         database=db_name,
                                         user=user_name,
                                         password=password)
    if connection.is_connected():
        cursor = connection.cursor(buffered=True)
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)
except Exception as e:
    print("Error while connecting to MySQL", e)

In [ ]:
cursor.execute("SHOW Tables;")
cursor.fetchall()

# Create Table

In [ ]:
def create_table(name,columns_name,column_spec):
    cursor=connection.cursor()
    tbl_cols=[(" ").join([i,j]) for i,j in zip(columns_name,column_spec)]
    query='CREATE TABLE  IF NOT EXISTS '+name+' (' + ', '.join(tbl_cols) + ');'
    aa=cursor.execute(query)
    print(aa)
    print(name+" successfully created")
    cursor.close()

# Common Table Field

In [ ]:
columns_name=["Customer_Name","Customer_ID","Customer_Open_Date","Last_Consulted_Date","Vaccination_Type",
             "Doctor_Consulted","State","Country","Date_of_Birth","Active_Customer"]
column_spec=["VARCHAR(255) NOT NULL PRIMARY KEY","VARCHAR(18) NOT NULL","DATE NOT NULL","DATE","VARCHAR(5)",
             "VARCHAR(255)","VARCHAR(5)","VARCHAR(5)","DATE","VARCHAR(1)"]

In [ ]:
table_name="test5"
create_table(table_name,columns_name,column_spec)

# insert single record

In [ ]:
val=("','").join(list(data.iloc[4]))
qry="insert into test VALUES('" +val+"');"
cursor.execute(qry)

# insert multiple records

In [ ]:
# all_values=[tuple(data.loc[i]) for i in data.index]
# print(all_values)
all_values=[('Alex', '123457', '2010-10-12', '2012-10-13', 'MVD', 'Paul', 'SA', 'USA', '1987-03-06', None)]
def insert_records(table_nm,all_values):
    cursor=connection.cursor()
    qry="insert into "+table_nm+" VALUES(%s, %s ,%s ,%s ,%s ,%s ,%s ,%s ,%s ,%s);"
    cursor.executemany(qry,all_values)
    cursor.close()

In [ ]:
insert_records("test5",all_values)

In [ ]:
cursor.close()
cursor=connection.cursor()
cursor.execute("select * from test5")
cursor.fetchall()

In [ ]:
cursor.execute("insert into test VALUES(parth, 123458 ,2010-10-12 , 2012-10-13' , MVD' , Paul , TN , IND , 1987-03-06 , A);")

# Insert Records in Table

In [ ]:
def Insert_data(table_name,records):

In [ ]:
column_name=["Customer Name","Customer ID","Customer Open Date","Last Consulted Date","Vaccination Type",
             "Doctor Consulted","State","Country","Date of Birth","Active Customer"]

In [ ]:
data=pd.read_csv("data.csv",sep="|",skiprows=1,skipfooter=0,usecols=[2,3,4,5,6,7,8,9,10,11],names=column_name,parse_dates=[2,3])
data["Date of Birth"]=pd.to_datetime(data["Date of Birth"],format='%d%m%Y')
data=data.astype('str')
data

In [ ]:
data

In [ ]:
data["Country"].unique()

In [ ]:
data.groupby(["Country"]).size()